* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color:#FFFFFF;
}

.side-menubar {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    height: 90vh;
    width: 8vh;
    align-items: center;
    justify-content: space-around;
}

.hero-player {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #454545;
    height: 35vh;
    width: 96vw;
}

.hero-album-cover img{
    height: 30vh;
    width: 30vh;
    margin: 10px;
}

.hero-album-dashboard {
    margin: 0.4em;
}
.hero-album-info h1 {
    color: #FFFFFF;
    margin-top: 0.5em;
    font-size: 0.9em;
}

.hero-album-info p {
    color: #FFFFFF;
    margin-top: 0.7em;
    font-size: 0.8em;
}

.hero-player-options {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    height: 15vh;

}

.hero-player-options i {
    color: #FFFFFF;
    margin: 0.4em;
    font-size: 0.5em;
}


.player-playlist {
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    height: 50vh;
    width: 96vw;
    margin-top: 1em;
    /* justify-content:space-between;
    align-items:center; */
}

.track {
    display: flex;
    justify-content: space-around;
    margin: 0.5em;
    padding: 0.8em;
    flex-wrap: wrap;
    font-size: 0.5em;
}

.track:nth-child(even) {
    background-color: #F0F0F0;
}

.track-number {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-left: 0.2em;
    height: 1em;
    
}

.track-title {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-left: 0.4em;
}

.track-album {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-left: 0.4em;
}

.track-duration {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-left: 0.4em;
}

.track-sync-btn {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-left: 0.4em;
    padding: 1em;
}

.track-sync-btn span {
    border: 0.2em;
    border-style: solid;
    border-color: #C6C6C6;
    color: #2F29E7;
    text-transform: uppercase;
}

.bottom-player {
    display: flex;
    flex-direction: row;
    background-color:#43689B;
    height: 12.5vh;
    align-items: center;
    width: 99vw;
}

.bottom-player-album-cover img {
    height: 9vh;
    width: 9vh;
    margin: 4px;
}

.album-info p {
    color: #FFFFFF;
    font-size: 0.4em;
    margin: 0.4em;
}

.player-controlls {
    display: flex;
    flex-direction: row;
    margin-left: 10em;
    align-items:center;
    justify-content: space-between;
    width: 100vh;
}

.player-controlls i {
    color: #FFFFFF;
}
