* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background-color: #FFFFFF;
}

#outter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 0.5em;
    margin-bottom: 1em; */
    border-bottom: 0.1em solid;
}

header img {
    margin-bottom: 1em;
    height: 10vh;
    width: 70vw;

}

header > h5 {
    font-weight: 300;
    padding: 0 1em 0 1em;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    border-top: 0.1em solid;
}

#nav-bar ul li {
    list-style-type: none;  
    margin: 0.5em;
    border: 0.2px solid;
    padding: 0.2em;

}

#nav-bar ul li:hover {
    background-color: antiquewhite;
}

h1 + h5 {
    margin-top: 2em;
}

#container {
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
    margin-top: 3em;
}

.top-six-news {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 25vh;
    border: 0.1em solid;
    border-radius: 0.5em;
    padding: 0.4em;
    margin: 1em;
}

.top-six-news h2 {
    margin-bottom: 0.5em;
}
.left-section {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}

.right-section {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2em;

}

#part-top-news {
display: flex;
flex-direction: row;
}

#news1-3 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#news4-6 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-news h2 {
    font-size: 0.8em;
    text-align: justify;
    padding: 0.2em;
}

.top-news p {
    font-size: 0.4em;
    text-align: justify;
    padding: 0.2em;
    margin: 0.2em;
    width: 35vw;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
article img {
    height: 10em;
    width: 15em;
    margin: 1em 0 0 0;
}

article p {
    text-align: justify;
    margin: 1em 0 0 0;
    font-weight: 300;
    font-size: 0.8em;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    padding: 1em;
    width: 90vw;
}

legend {
    margin: 0 0.5em 0 1.5em;
    padding: 0 0.5em 0 0.5em;
}

form > div {
    margin: 1em;
}

form > div > label {
    font-weight: 400;
    font-size: 1em;
    margin: 0 0.5em 0 1em;
}

form > div > input {
    border: 0.1em solid;
}

#agree {
    margin-left: 1.2em;
}

#signup-btn {
    margin-left: 1.2em;
}

#signup-btn:hover {
   background-color: antiquewhite;
}

footer {
    background-color: #F2F2F2;
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    /* padding: 1em; */
}


footer > div {
    margin: 2em;
    background-color: #F2F2F2;
}

footer > div > h3{
    background-color: #F2F2F2;
    font-size: 0.8em;
}

footer > div > ul {
    list-style-type: none;  
    background-color: #F2F2F2;
}

footer > div > ul > li {
    font-weight: 300;
    font-size: 0.6em;
    list-style-type: none;  
    background-color: #F2F2F2;
    margin: 0.3em;
}

footer > div > ul > li > img {
height: 2em;
}

 h6 {
    background-color:  #F2F2F2;
    font-size: 0.5em;
    width: 96vw;
    margin-left: 4em;
}

@media (width < 700px) {

    header img {
        margin-bottom: 0.2em;
        height: 10vh;
        width: 70vw;
    
    }

    header > h5 {
        font-weight: 300;
        padding: 0 1em 0 1em;
        margin: 0.5em;
    }
    
    #nav-bar ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        border-top: 0.2em solid;
    }

    #container {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        margin-right: 1em;
    }

    .top-six-news {
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 65vh;
        align-items: center;
        border: 0.1em solid;
        border-radius: 0.5em;
        padding: 0.4em;
        margin: 1em;
    }

    #part-top-news {
        display: flex;
        flex-direction: column;
        }

        .top-news p {
            font-size: 0.4em;
            text-align: justify;
            padding: 0.2em;
            margin: 0.2em;
            width: 35vw;
        }
        
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        width: 90vw;
        margin-right: 1em;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: 2em;
    }
    
    .left-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 2em;
        margin-right: 2em;
    }
    
    .right-section {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: 2em;
    }
    
    .right-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 2em;
        margin-right: 2em;
    
    }

    footer {
        background-color: #F2F2F2;
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    footer > div {
        background-color: #F2F2F2;
    }
    
    footer > div > h3{
        background-color: #F2F2F2;
        font-size: 0.8em;
    }
    
    footer > div > ul {
        list-style-type: none;  
        background-color: #F2F2F2;
    }
    
    footer > div > ul > li {
        font-weight: 300;
        font-size: 0.6em;
        list-style-type: none;  
        background-color: #F2F2F2;
    }
    
    footer > div > ul > li > img {
    height: 2em;
    }
    
     h6 {
        background-color:  #F2F2F2;
        font-size: 0.5em;
        width: 100vw;
    }
  }